* {
    padding: 0;
    margin: 0;
}

.App {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.leftPanel {
    height: 100vh;
    width: 20vw;
    display: block;
    background-color: #222222;
}

.leftPanel .drones {
    height: 85%;
    width: 100%;
}

.leftPanel .set_ip {
    padding-top: 20px;
    height: 15%;
    width: 100%; 
    text-align: center;
}

.leftPanel .set_ip .ip_submit, .ip_input {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.middle {
    position: relative;
    height: 100vh;
    width: 50vw;
}

.middle .abort_mission {
    position: absolute;
    z-index: 5;
    bottom: 20px;
    left: 20px;
    width: 100px;
    height: 50px;
}

.abort_mission button {
    width: 100px;
    height: 50px;
    border-radius: 20px;
    border: 0px solid black;
    background-color: red;
    color: white;
    font-weight: bold;
}

.abort_mission button:hover {
    width: 100px;
    height: 50px;
    border-radius: 20px;
    border: 0px solid black;
    background-color: red;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.middle .container_map {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    height: 100%;
    width: 100%;
}

.middle .container_feed {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 5;
    background-color: white;
    width: 240px;
    height: 180px;
}

.middle .container_feed2 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    background-color: #222222;
    width: 170px;
    border: 0.5px solid white;
    height: 230px;
    color: white;
    padding: 5px;
}

.rightPanel {
    height: 100vh;
    width: 30vw;
    background-color: #222222;
}

.roll_data {
    width: 100%;
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pitch_data {
    width: 100%;
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controller {
    width: 100%;
    height: 33%;
    display: flex;
}

.container_controller {
    width: 50%;
}

.container_controller button {
    background-color: transparent;
    border: none;
    color: black;
    font-size: 40px;
    width: 60px;
    height: 60px;
}

.container_controller .first_row {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    height: 60px;
}

.container_controller .third_row {
    display: flex;
    justify-content: center;
    height: 60px;
}

.container_controller .second_row {
    display: flex;
    justify-content: space-between;
    height: 60px;
}

.container_controller .active, .container_controller button:hover {
    font-size: 50px;
    cursor: pointer;
}

.container_controller button { 
    color: white;
}
